* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#ffff;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drum {
  background: url("hii.webp") no-repeat center center;
  background-size: cover; 
  border: none;
  margin: 10px;
  padding: 40px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: all 0.1s ease;
}
.aa{
  background: url("second.webp") no-repeat center center;
  background-size: cover; 

}
.s1{
  background: url("s1.avif") no-repeat center center;
  background-size: cover; 

}
.s2{
  background: url("Daco_273020.png") no-repeat center center;
  background-size: cover; 

}
.s3{
  background: url("s3.png") no-repeat center center;
  background-size: cover; 

}

.drum:active, 
.pressed {
  background-color: #21a1f1;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .drum {
    padding: 15px 30px;
    font-size: 18px;
  }
}
